*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-color: #F8FAFC;
   
    
  background-size: 100% 60%;
  height:100vh;
  background-image:url("./img/Background\(1\).png") ;
  background-repeat: no-repeat;
  
  background-position: bottom;
  display:flex;
}

.container{
  margin:auto;
  padding:20px;
  width:460px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forgot{
  text-align: center;
  color:#625BF7;
}

.all-container{
  margin:auto;
  width:1000px;
}

input{
  height:30px;
  width:400px;
  padding:10px;
  
}
.welcome{
  color:#757575;
  font-weight: 300;
  font-size: 30px;

}

.icon{
  height:28px;
}

.sign-para{
  color:#333333;
  font-weight: 500;
  font-size: 40px;
}

.form{
  font-weight: 300;
  font-size: 25px;
}

button{
  background-color: #5049EF;
  font-weight: 500;
  font-size: 20px;
  padding:4px 4px;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  width:400px;
  height:7%;
  color: white;
}

.fields{
  color:#625BF7;
  
  margin:auto;
  padding-bottom: 5%;
  width:440px;
  
}

.no-account{
  margin:30px;
  text-align: center;
  
}

